body { margin-top: 0px; font-family: Tahoma; color: #515151; background-color: rgb(249, 249, 249); }
input[type="color"] { width: 131px; margin-top: 5px; }
input { text-align: center; }
input.upper { text-transform: uppercase; }
h2 { margin: 0; }
.trash { 
  float: left; 
  background-color: rgb(255, 80, 80); 
  width: 100%; height: 52px;  
  background-image: url(../resources/trash-close.png); 
  background-size: 60px 52px; 
  background-position: 50% 0px;
  background-repeat: no-repeat; 
}
.trash.ui-state-hover { 
  background-image: url(../resources/trash-open.png); 
  background-size: 80px 60px; 
  background-repeat: no-repeat;
}
#addCourse { margin-right: 27px; }
#clear { margin-left: 6px; margin-right: -8px; } 
#addCourse, #clear { margin-bottom: 5px; margin-top: 5px; color: rgb(81, 81, 81); outline-width: 0; cursor: pointer; font-weight: bold; border: none; background-color: rgb(46, 204, 113); width: 90px; height: 30px; }
#addCourse:hover, #clear:hover { background-color: rgb(40, 190, 104); }
.courses { width: 218px; height: 540px; background-color: #FFF; border: solid 1px rgb(232, 232, 232); margin-right: 10px; margin-bottom: 10px; }  
.courses ul { height: 480px; overflow: scroll; list-style: none; display: inline; }
.courses ul li { width: 161px; height: 73px; margin-bottom: 10px; margin-left: 27px; }
.schedCourse { cursor: move; height: 100%; background-color: #D1F486; z-index: 9999; }
.course { width: 140px; border: solid 1px #D1D1D1; padding: 10px; margin-bottom: 20px; cursor: move; }
.course input { width: 131px; }
table, .courses { float: right; }
table { border-bottom: solid 1px #D1D1D1; background-color: #FFF; }
td.last { border-bottom: none; }
tr { height: 50px; border-left:1px solid #D1D1D1; border-right: 1px solid #D1D1D1; }
tr.first { height: 20px; background-color: rgb(249, 249, 249); }
tr.first td { height: 20px; }
tr.last { border-bottom: solid 1px #D1D1D1; }
table, tr.first, tr.first td { border-left:none; border-right: none; border-top: none; }
td { 
  height: 49px;
  position: relative;
  border-top: none; 
  border-right: none;
  border-bottom: 1px solid #D1D1D1; 
  border-left: none;  
  padding: 0; 
} 
td[rowspan="1"] .schedCourse input { display: none; }
.schedCourse .info { font-size: 9px; font-weight: normal; height: 10px; }
td:not([rowspan="1"]) .schedCourse .info { display: none; }
td.ui-state-hover { background-color: #FF5F69; }
td.ui-state-active { border-left: 1px solid #D1D1D1; }
.ui-draggable-dragging { opacity: 0.5; }
.schedCourse.ui-draggable-dragging { z-index: 99999; }
.schedCourse.ui-resizable-resizing { position: absolute !important; top: 0; left: 0; width: 100%; height: 100%; z-index: 999;}
td.first { border-left: 1px solid #D1D1D1; }
td.last-col { 
  background-color: #FFF985; 
  border-bottom: 1px solid #B1B1B1;
  border-left: 1px solid #D1D1D1; 
  border-right: 1px solid #D1D1D1; 
}
td.last-col.last { border-bottom: none; }
.controls { text-align: center; width: 249px; float: right; position: absolute; left: 0; background-color: rgb(249, 249, 249); } 
